.center {
    margin: auto;
    width: 30%;
    padding: 10px;
}
.wizard {
    margin: 20px auto;
    margin-top:-40px;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
/*.card-body , .card-footer{*/
    /*text-align: center;*/
/*}*/

@media (min-width: 992px){
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
}

.navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,1);
}

/*subscription */
.card-colour-Browns {
    background-color: #148a90;
}

.card-colour-Greens {
    background-color: #14905c;
}
.card-colour-Amber {
    background-color: #839014;
}
.card-buy{
    text-align: center;
}
.byt-btn{
    font-size: 22px;
}

.card_details{
    text-align: center;
}

.money{
    font-size: 24px;
}

.btn_pention{
    color: #fff !important;
}


/*--  price section ---*/

#price {
    background: #ffffff;
}

.flat .plan {
    border-radius: 0px;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 15px;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
}

.flat .plan:hover {
    box-shadow: 0px 0px 25px 8px #F7F7F7;
}

.flat .plan li {
    padding: 10px 15px;
    color: #666666;
    border-bottom: 1px solid #f5f5f5;
    -webkit-transition: 300ms;
    transition: 300ms;
    text-align: left;
    padding-left: 65px;
}

.flat .plan li:hover {
    color: #ffffff;
    cursor: pointer;
    background: #3498DB;
}

.flat .plan li i.fa {
    margin-right: 10px;
}

.flat .plan li:last-child {
    border-bottom: none;
}

.flat .plan li:first-child {
    border-bottom: none;
}

.flat .plan li.plan-price {
    border-top: 0;
    border-bottom: 3px solid #3498DB;
    text-align: center;
    padding-left: 0px;
}

.plan-price h3 {
    color: #515050;
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
}

.plan-price:hover h3 {
    color: #ffffff;
}

.currency {
    font-size: 24px;
    position: relative;
    top: -18px;
    font-weight: 400;
}

.year {
    font-size: 16px;
    text-transform: none;
    margin-left: -16px;
}

.flat .plan li.plan-name {
    border-radius: 0;
    padding: 15px;
    font-size: 36px;
    line-height: 50px;
    color: #fff;
    background: #3498DB;
    margin-bottom: 0px;
    border-top: 0;
    text-align: center;
}

.flat .plan li.plan-name p {
    color: #fff;
}

.flat .plan li > strong {
    color: #6B6B6B;
    font-weight: normal;
}

.flat .plan li.plan-action {
    margin-top: 0px;
    margin-bottom: -20px;
    text-align: center;
    padding-left: 10px;
}

.flat .plan.featured {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.flat .plan.featured:hover li.plan-name,
.flat .plan:hover li.plan-name,
.flat .plan.featured.plan-name {
    background: #fff !important;
}

.btn {
    background: #3498DB;
    color: #fff;
    border-radius: 0;
    padding: 10px 40px;
    margin: 15px;
    font-size: 16px;
}

.btn:hover {
    background: #fff;
    color: #3498DB;
    border: 1px solid #3498DB;
}

/*footer section*/

.footer {
    background: #272727;
    font-size: 14px;
}

.footer-widgets {
    padding: 100px 0 10px 0;
    border-top: 4px solid #2e2e2e;
}

.widget-footer {
    margin-bottom: 50px;
}

.widget-footer .widget-title {
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #CCCCCC;
    font-weight: 400;
    position: relative;
}

.widget-footer .widget-title:after {
    background: #888888;
    content: "";
    left: 0;
    top: 25px;
    width: 26%;
    height: 2px;
    position: absolute;
}

.widget-content p {
    color: #888888;
    padding: 10px;
    margin-left: -10px
}

.contacts-widget .contacts-info-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.contacts-widget .contacts-info-list > li {
    position: relative;
    padding-left: 50px;
    min-height: 32px;
    display: table;
}

.contacts-widget .contacts-info-list > li > .fa {
    display: block;
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 22px;
    color: #CCCCCC;
}

.footer a {
    color: #888888;
}

.info-item span {
    color: #CCCCCC;
    font-size: 16px;
    font-weight: 400;
}

.contacts-widget .contacts-info-list > li .info-item {
    color: #888888;
    margin-bottom: 20px;
}

.social-link {
    margin-left: -50px;
}

.social-link ul {}

.social-link ul li {
    list-style: none;
    display: inline-block;
}

.social-link ul li a {
    padding-left: 10px;
    color: #888888;
    transition: .3s;
}

.social-link ul li a:hover {
    color: #3498DB;
    cursor: pointer;
}

/*.form-control {*/
/*display: block;*/
/*width: 100%;*/
/*height: 34px;*/
/*padding: 6px 12px;*/
/*font-size: 14px;*/
/*line-height: 1.4;*/
/*background-color: #272727;*/
/*border: 1px solid #888888;*/
/*border-radius: 0px;*/
/*color: #fff;*/
/*}*/

textarea.form-control {
    height: 75px;
    width: 100%;
}

button.btn {
    margin: 0px;
    transition: all 0.5s;
    text-transform: uppercase;
    padding: 10px 50px;
}

button.btn:hover {
    border: 1px solid #3498db;
    color: #3498db;
    background-color: #fff;
}

.footer-copyright {
    background: #1C1C1C;
    font-size: 16px;
    color: #888888;
    padding: 25px 0;
    position: relative;
    text-align: center;
}

.footer-copyright a {
    color: #3498DB;
}

/*scroll top*/

.scroll-to-top{
    background: none;
    border: 1px solid #3498db;
}
.fa-angle-up:before{
    color: #3498db;
}